<div class="d-flex justify-content-center">
  <!-- Add Book Modal Button -->
  <button
    type="button"
    class="btn btn-light"
    data-bs-toggle="modal"
    data-bs-target="#staticAddBookBackdrop"
  >
    Add Book
  </button>

  <!-- Add Book Modal -->
  <div
    class="modal fade"
    id="staticAddBookBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticAddBookBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-xxl-down">
      <div class="modal-content">
        <div class="modal-header">
          <h1
            class="modal-title fs-5 w-100 text-center"
            id="staticAddBookBackdropLabel"
          >
            Enter Book Information
          </h1>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="addBookForm.reset()"
          ></button>
        </div>
        {{ newBook | json }}
        <form
          #addBookForm="ngForm"
          class="modal-body d-flex flex-column mb-3 justify-content-center"
        >
          <div class="p-4">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              [(ngModel)]="newBook.title"
              name="title"
              #title="ngModel"
            />
            <div
              class="mt-1"
              [hidden]="title.valid || title.pristine"
              class="alert alert-danger"
            >
              Title is required!
            </div>
          </div>
          <div class="p-4">
            <label for="author" class="form-label">Author</label>
            <input
              type="text"
              class="form-control"
              id="author"
              required
              [(ngModel)]="newBook.author"
              name="author"
              #author="ngModel"
            />
            <div
              class="mt-1"
              [hidden]="author.valid || author.pristine"
              class="alert alert-danger"
            >
              Author is required!
            </div>
          </div>
          <div class="p-4">
            <label for="yearPublished" class="form-label">Year Published</label>
            <input
              type="number"
              class="form-control"
              id="yearPublished"
              required
              [(ngModel)]="newBook.yearPublished"
              name="yearPublished"
              #yearPublished="ngModel"
            />
            <div
              class="mt-1"
              [hidden]="yearPublished.valid || yearPublished.pristine"
              class="alert alert-danger"
            >
              Year Publishished is required!
            </div>
          </div>
          <div class="p-4">
            <label for="genre" class="form-label">Genre</label>
            <input
              type="text"
              class="form-control"
              id="genre"
              required
              [(ngModel)]="newBook.genre"
              name="genre"
              #genre="ngModel"
            />
            <div
              class="mt-1"
              [hidden]="genre.valid || genre.pristine"
              class="alert alert-danger"
            >
              Genre is required!
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="addBookForm.reset()"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-success"
            [disabled]="!addBookForm.valid"
            (click)="onSubmit(); addBookForm.reset()"
            data-bs-dismiss="modal"
          >
            Save Book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
